extends layout

block navbar
  form(action="search").navbar-search.pull-left
    input(type="text", value=query, name="query", placeholder="Search").input-xlarge#query

block content
  .row
    .span12
      if records.length > 0
        .alert.alert-info
          | Found #{numFound} entries.
          | Showing #{from} - #{to} (#{numShowing} entries).
      else
        .alert.alert-info
          | No entry found.

  .row
    .span9
      include pager
      if records.length > 0
        each record, index in records
          .record
            h2
              a(href="http://nodejs.org/docs/latest/api/all.html#all_"+titleToId(record.data.title), target="_blank")= record.data.title
            p.path
              each title, pathIndex in record.data.path
                span
                  a(href=urlForSearch({query: title}))
                    = title
                if pathIndex != record.data.path.length - 1
                  span  &raquo; 

            !{record.data.desc}
      include pager

    .span3
      if pathFacets.length > 0
        .well(style="padding: 8px 0;")
          ul.nav.nav-list
            each facet, index in pathFacets
              li
                a
                  = facet.value
                  | 
                  span.badge.badge-info= facet.count
