extends layout

block content
  .row
    .span12
      if records.length > 0
        .alert.alert-info
          | Found #{num_found} entries.
          | Showing #{from} - #{to} (#{num_showing} entries).
      else
        .alert.alert-info
          | No entry found.
  .row
    .span9
      if records.length > 0
        each record, index in records
          .record
            h2 #{record.data.title}
            p.path
              each title, pathIndex in record.data.path
                span
                  a(href="/search?"+querystring.stringify({query: title}))
                    = title
                if pathIndex != record.data.path.length - 1
                  span  &raquo; 

            !{record.data.desc}

    .span3
      if path_facets.length > 0
        .well(style="padding: 8px 0;")
          ul.nav.nav-list
            each facet, index in path_facets
              li
                a
                  = facet.value
                  | 
                  span.badge.badge-info= facet.count
