extends layout

block content
  if records.length > 0
    .alert.alert-info
      | Found #{num_found} entries.
      | Showing #{from} - #{to} (#{num_showing} entries).

    each record, index in records
      .record
        h2 #{record.data.title}
        p.path
          each title, pathIndex in record.data.path
            span.label.label-inverse
              = title
            if pathIndex != record.data.path.length - 1
              span  &raquo; 

        !{record.data.desc}
  else
    .alert.alert-info
      | No entry found.
